# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache
*.map
*.css.map
*.js.map

# OS or Editor folders
.DS_Store
Thumbs.db
.cache
.project
.idea
.settings
.tmproj
*.esproj
nbproject
.env.local.php
.env.php

# Dreamweaver added files
_notes
dwsync.xml

# Komodo
*.komodoproject
.komodotools

# Folders to ignore
.hg
.svn
.CVS
intermediate
publish

/bootstrap/compiled.php
/vendor
/components
composer.phar

#
node_modules
version
error_log
/public/error_log
/public/uploads/*
/public/downloads/*


tests/_output/*
tests/_output/*