
/**
 *---------------------------------------------------------------
 * CALENDAR
 *---------------------------------------------------------------
 */
#middle > .padder-lg {
    padding-left: 15px;
    padding-right: 15px;
}
.fc-toolbar {
    height           : 50px;
    color            : #FFFFFF;
    background-color : #444444;
    margin           : 0;
}

.fc-toolbar .fc-button {
    color       : #FFFFFF;
    background  : transparent;
    border      : none;
    box-shadow  : none;
    text-shadow : none;
    margin      : 0;
    height      : 50px;
    line-height : 28px;
    padding     : 10px;
}
.fc-toolbar .fc-button:hover {
    background-color : #555555;
}
.fc-toolbar .fc-button:focus {
    outline: none;
    background-color : #555555;
}
.fc-toolbar h2 {
    font-size      : 20px;
    line-height    : 50px;
    margin         : 0;
    text-transform : uppercase;
    font-weight: normal;
}

/* Main view */
.fc-view {
    overflow : visible;
}
.fc-view .fc-widget-header {
    background-color : #FFFFFF;
}

.fc-row:hover,
.fc-row:focus,
.fc-row:active {
    position : relative;
    z-index  : 1000;
}

.fc-view .fc-widget-header,
.fc-view .fc-widget-content {
    border-color : #BBB;
    font-weight  : normal;
}

.fc-slats .fc-minor td {
    border-top-style : dotted;
    border-color     : #CCC;
}

.fc-view .fc-day-header {
    padding : 4px 4px;
}

/* Event */
.fc-view .fc-event {
    padding    : 2px 4px;
    box-shadow : 0 1px 0px rgba(0, 0, 0, 0.05);
}
.fc-event .fc-content .fc-title {
    font-width : bold;
}
.fc-event .fc-content .fc-details {
    padding    : 3px;
}

/* Default Colour */
.fc-view .fc-event {
    color            : #555555;
    border           : 1px solid #DDDDDD;
    background-color : #FFFFFF;
}

/* Red Colour */
.fc-view .fc-event.red {
    color            : #FFFFFF;
    border           : 1px solid #DDDDDD;
    background-color : #e02222;
}

/* Orange Colour */
.fc-view .fc-event.orange {
    color            : #FFFFFF;
    border           : 1px solid #DDDDDD;
    background-color : #F9A123;
}

/* Yellow Colour */
.fc-view .fc-event.yellow {
    color            : #555555;
    border           : 1px solid #DDDDDD;
    background-color : #FFF333;
}

/* Green Colour */
.fc-view .fc-event.green {
    color            : #FFFFFF;
    border           : 1px solid #DDDDDD;
    background-color : #008A2E;
}

/* Blue Colour */
.fc-view .fc-event.blue {
    color            : #FFFFFF;
    border           : 1px solid #DDDDDD;
    background-color : #4b8df8;
}

/* Purple Colour */
.fc-view .fc-event.purple {
    color            : #FFFFFF;
    border           : 1px solid #DDDDDD;
    background-color : #852b99;
}

/* Complete Colour */
.fc-view .fc-event.complete {
    color: #666 !important;
    background: repeating-linear-gradient(45deg, rgba(52, 73, 94, 0.1), rgba(52, 73, 94, 0.1) 10px, rgba(52, 73, 94, 0.2) 10px, rgba(52, 73, 94, 0.2) 20px) !important;
}




.fc-view .fc-event-hori {
    padding : 4px 8px;
}

.fc-event {
    -webkit-box-sizing : content-box;
    -moz-box-sizing    : content-box;
    box-sizing         : content-box;
}
.fc-event-inner {
    position      : relative;
    white-space   : nowrap;
    text-overflow : ellipsis;
}

.fc-state-highlight {
    background-color : #F1FFED;
}

/* Popover */
.fc-popover {
    z-index: 2000;
}
.fc-popover .fc-header.fc-widget-header {
    background : #555;
    color      : #FFF;
    padding    : 5px;
}

/* Overlay */
.fc-overlay {
    display     : none;
    position    : absolute;
    min-width   : 300px;
    padding     : 17px 0;
    top         : auto;
    left        : 50%;
    margin-left : -150px;
}
.fc-overlay.left {
    left    : 100%;
    top     : -15px;
    padding : 0 10px;
    margin  : 0;
}
.fc-overlay.right {
    left    : auto;
    right   : 100%;
    top     : -15px;
    padding : 0 10px;
    margin  : 0;
}
.fc-overlay .pull-up {
    top : 26px;
}

.fc-overlay .panel {
    padding : 0;
}
.fc-overlay .overlay-header {
    padding       : 10px;
    background    : #f5f5f5;
    color         : #aaa;
    font-size     : 14px;
    border-bottom : 1px solid #f2f2f2;
}
.fc-overlay .overlay-content {
    padding: 10px;
}
.fc-overlay .overlay-footer {
    padding: 10px;
}


.fc-event:hover,
.fc-event:focus,
.fc-event:active {
    z-index : 1000;
}
.fc-event:hover .fc-overlay,
.fc-event:focus .fc-overlay,
.fc-event:active .fc-overlay {
    display : block;
}

/* Filters */
.filters {
    background-color : black;
    padding          : 20px 15px;
    margin-bottom    : 20px;
}

.filters .form-group {
    padding : 0;
    margin  : 0;
}

/* Tabs */
.tab-content >.tab-pane {
    padding-top: 20px;
}


/**
 *---------------------------------------------------------------
 * BOOKING LIST
 *---------------------------------------------------------------
 */
.booking-list li {

}

.booking-list li:hover {
    background : #F5F5F5;
}

.booking-list li.active {
    background : #D9EFD9;
}

.booking-list .booking-name {

}

.booking-list .booking-name h3 {
    font-size : 20px;
    margin    : 0 0 5px 0;
}

.booking-list .booking-description {
    margin : 0 0 5px 0;
}

.booking-list .booking-dates {

}

/**
 *---------------------------------------------------------------
 * BOOKING FORM
 *---------------------------------------------------------------
 */
.date-time-picker {
    min-width : 250px;
}

.date-time-picker table {
    width : 100%;
}